body {
    background-color: blue;
    color: white;
}

/* Creating the left content box*/
.contentBoxes {
    
    background-color: palevioletred;
    color: black;
    border: 5px solid white;
    text-align: center;
    width: 45%;
    
    display: inline-block;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    font-family: 'Comic Sans MS', cursive;
}

